.admin-layout {
  &-header {
    height: 48px !important;
    line-height: 48px !important;
    padding: 0 16px !important;
    background: #fff !important;
    box-shadow: 0 4px 10px #ddd;
    z-index: 9;

    &_logo {
      position: relative;
      overflow: hidden;
      height: 100%;

      a {
        display: flex;
        align-items: center;
        height: 100%;
      }

      h1 {
        height: 32px;
        margin: 0 0 0 12px;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
      }
    }
  }
}
